.policy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        text-align: center;
        color: chocolate;
    }
    .warranty {        
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 70%;
            margin: 10px;
        }
    }
    h3{
        color: red;
    }
    p{
        font-size: 20px;
    }
    Table{
        border-collapse: collapse;
        border: 1px solid black;
        table-layout: fixed;
        width: 50%;  
        text-align: center;
        th,td {
            border: 1px solid black;
        }
    }
}