.newBrand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form {
        width: 100%;
        h2{
            text-align  : center;
            color: #009393;
            font-size: xx-large;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .contentBrand{
            display: flex;
            flex-direction: column;
            margin: 5px 0px;
            label{
                margin: 5px 5px;
                color: #009393;
                font-size: large;
                font-weight: 500;
            }
        }
        #check{
            input{
                width: 20px;
                height: 20px;
                margin-left: 20px;
            }
        }

        .form-button{
            margin: 15px 0px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            button{
                font-size: large;
                font-weight: 500;
                background-color: #03aeae;
                border: none;
                margin-left: 20px;
            }
        }
        .error{
            color: red;
        }
    }
}