.popup-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Set the container height to fill the viewport */
  }
  
  .popup-content {
    background-color: #02c2c2;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px; /* Add padding to the content */
    max-width: 400px; /* Optionally set a max-width for the content */
    text-align: center; /* Center text content */
  }
  