.card-img-overlay{
    display: flex;
    justify-content: center;
    flex: column;
}



.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
  }
  
  .card .card-img {
    width: 80%; /* Adjust the width as per your desired size */
    /* height: auto; */
  }
  

    .card-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1; /* Add this line */
    }
    
    .animated-text {
      opacity: 0;
      transform: translateY(20px);
      animation: fade-in 3s ease-out forwards, slide-up 3s ease-out forwards;
    }
    
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    @keyframes slide-up {
      from {
        transform: translateY(20px);
      }
      to {
        transform: translateY(0);
      }
    }

  .hero{
    background: hsl(177, 97%, 85%);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #acdbe5, #d0f7f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48bed6, #c9faf8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    position: relative;
    overflow: hidden;
  }

  .hero1{
    background: hsl(177, 97%, 85%);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #acdbe5, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b1ebf6, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    position: relative;
    overflow: hidden;
  }

 .home-content{
    margin-left: 15%;
    margin-top: 10%;
    position: relative;
    z-index: 1;
  }

  .home-content h3{
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #ffffff;
  }
  .home-content h1{
    font-size: 45px;
    font-weight: 300;
  }

  .home-content p{
    font-size: 30px;
    font-weight: 100;
  }

  .feature-image{
    height: 220%;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: -50px;
    left: 600px;
  }

  .product-text{
    margin-top: 15%;
  }
